* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(15, 19, 22);
    background-size: auto 100vh;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Noto Sans', serif;
    text-align: justify;
}

@media (min-width: 400px) {
    body {
        font-size: 18px;
    }

    .menu a {
        font-size: 0.2em;
    }

    .projetos h3 {
        font-size: 22px;
    }

}

@media (min-width: 560px) {
    .sobre .grid,
    .projetos .grid {
        align-items: center;
        grid-template-columns: 130px auto;
        gap: 1.8em;
        justify-content: center;
        margin-left: 2em;
        margin-right: 2em;
    }

    .menu a {
        font-size: 0.3em;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }

    .menu a {
        font-size: 0.4em;
    }

    .projetos h3 {
        font-size: 30px;
    }

    .contato .grid {
        grid-template-columns: repeat(6, auto);
    }

}

@media (min-width: 1000px) {
    body{
        font-size: 22px;
    }

    .menu a {
        font-size: 0.6em;
    }

    .projetos h3 {
        font-size: 32px;
    }

}

header {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu a {
    display: block;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 0.8em;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu li {
    list-style: none;
}

.site-title {
    color: darkcyan;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.site-subtitle {
    color: darkgrey;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    font-size: 1em;
    line-height: 1.2em; 
}

.sobre,
.projetos,
.contato {
    padding: 2em;
}

.sobre .grid,
.projetos .grid {
    display: grid;
    gap: 2.4em;
}

.contato figure,
.sobre figure,
.projetos figure {
    text-align: center;
}

.img-projetos {
    height: 80px;
    width: 80px;
    margin-top: 1.8em;
}

.scroll-arrow {
    height: 14vh;
    position: relative;
    width: 49vw;
    align-self: center;
    left: 49%;
    scroll-behavior: smooth;
    opacity: 70%;
}

.img-scroll-arrow {
    height: 20px;
    width: 20px;
}


.img-social,
.img-lang {
    height: 40px;
    width: 40px;
}

.projetos figcaption {
    color: darkslateblue;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.sobre figcaption {
    color: darkcyan;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.contato figcaption {
    color: darkgray;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.contato .grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}

.sobre .small-grid{
    margin-top: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, auto);
    align-items: center;
}

h3 {
    text-align: center;
    color: rgb(45, 121, 235);
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: 1em;
}

.h6 {
    font-size: 8px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
}

/*
    font-family: 'Comfortaa', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Noto Sans', sans-serif;
*/
