* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(15, 19, 22);
    background-size: auto 100vh;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Noto Sans', serif;
    text-align: justify;
}

@media (min-width: 400px) {
    body {
        font-size: 18px;
    }

    .menu a {
        font-size: 18px;
    }

    .projetos h3 {
        font-size: 22px;
    }

}

@media (min-width: 600px) {
    body {
        font-size: 20px;
    }

    .menu a {
        font-size: 22px;
    }

    .projetos h3 {
        font-size: 30px;
    }

}

@media (min-width: 1000px) {
    body{
        font-size: 22px;
    }

    .menu a {
        font-size: 24px;
    }

    .projetos h3 {
        font-size: 32px;
    }

}

header {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu a {
    display: block;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu li {
    list-style: none;
}

.site-title {
    color: darkcyan;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.site-subtitle {
    color: darkgrey;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    font-size: 1em;
    line-height: 1.2em; 
}

.projetos {
    padding: 2em;
}

.projetos .grid {
    display: grid;
    gap: 1em;
}

@media (min-width: 560px) {
    .projetos .grid {
        align-items: center;
        grid-template-columns: 130px auto;
        gap: 1.8em;
        justify-content: center;
        margin-left: 1em;
        margin-right: 2em;
    }
}

.projetos figure {
    text-align: center;
}

.img-projetos {
    height: 80px;
    width: 80px;
    margin-top: 1.8em;
}

.scroll-arrow {
    height: 10vh;
    position: relative;
    width: 49vw;
    align-self: center;
    left: 49%;
    scroll-behavior: smooth;
    opacity: 70%;
}

.img-scroll-arrow {
    height: 20px;
    width: 20px;
}

figcaption {
    color: darkcyan;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(45, 121, 235);
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    padding-top: 2em;
}

.h6 {
    font-size: 8px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
}

/*
    font-family: 'Comfortaa', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Noto Sans', sans-serif;
*/
