* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(15, 19, 22);
    background-size: auto 100vh;
    color: darkgrey;
    font-family: 'Noto Sans', cursive;
    font-size: 14px;

}

@media (min-width: 400px) {
    body{
        font-size: 16px;
    }

    .menu a {
        font-size: 18px;
    }

    .portfolio h3 {
        font-size: 22px;
    }
}

@media (min-width: 600px) {
    body{
        font-size: 18px;
    }

    .menu a {
        font-size: 22px;
    }

    .portfolio h3 {
        font-size: 30px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu a {
    display: block;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu li {
    list-style: none;
}

.site-title {
    color: darkcyan;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.site-subtitle {
    color: darkgrey;
    text-align: center;
    font-style: italic;
    line-height: 1.8em;
}

.portfolio h3 {
    font-family: "Comfortaa", cursive;
    color: rgb(45, 121, 235);
    font-size: 18px;
}

.img-portfolio {
    height: 80px;
    width: 80px;
}


/*
    font-family: 'Comfortaa', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Noto Sans', sans-serif;
*/
